#walrus-showing {
  display: none;
}

.clickable {
  cursor: pointer;
  color: purple;
}

.clickable:hover {
  text-decoration: underline;
}

.green-background {
  background-color: green;
}

.blue-background {
  background-color: blue;
}

.red-background {
  background-color: red;
}